<!DOCTYPE html>
<html ng-app = "importApp">
    <head>
        <meta charset="UTF-8" />
        {% use "AppBundle::scripts.html.twig" %}
        {{ block('scripts') }}
        <title>{% block title %}Products webUi{% endblock %}</title>
        {% use "AppBundle::stylesheets.html.twig" %}
        {{ block('stylesheets') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
</html>
