{% block scripts %}
    <script src = {{ asset('bundles/app/assets/js/vendor/jquery-3.1.0.min.js') }}></script>
    <script src = {{ asset('bundles/app/assets/js/vendor/angular.js') }}></script>
    <script src = {{ asset('bundles/app/assets/js/vendor/angular-ui-router.js') }}></script>
    <script src = {{ asset('bundles/app/assets/js/vendor/angular-resource.js') }}></script>
    <script src = {{ asset('bundles/app/assets/js/vendor/bootstrap.min.js') }}></script>
    <script src = {{ asset('bundles/app/assets/js/vendor/underscore.js') }}></script>
    {% if app.environment == "dev" %}
        {% javascripts
        '@AppBundle/Resources/public/assets/js/functions.js'
        '@AppBundle/Resources/public/assets/js/app.js'
        '@AppBundle/Resources/public/assets/js/services.js'
        '@AppBundle/Resources/public/assets/js/controllers.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% elseif app.environment == "prod" %}
        <script src = {{ asset('bundles/app/assets/js/functions.js') }}></script>
        <script src = {{ asset('bundles/app/assets/js/app.js') }}></script>
        <script src= {{ asset('bundles/app/assets/js/services.js') }}></script>
        <script src= {{ asset('bundles/app/assets/js/controllers.js') }}></script>
    {% endif %}
{% endblock %}