{% block filter_fields %}
    <hr>
    <div ng-controller="SearchController" ng-init="init()">
        <button class="btn btn-action" ng-click="addFilter()" style="margin-bottom: 10px;">Add filter</button>
        <button class="btn btn-success" ng-click="filterData()" style="margin-bottom: 10px;">Search</button>
        <div ng-repeat="filter in filters track by $index" class="form-inline" style="margin-bottom: 10px;">
            <label for="field">Field</label>
            <select id="field" ng-model="filter.field" class="form-control " ng-options="key for (key, value) in fieldNames" style="margin-right: 10px;"></select>
            <label for="option">Option</label>
            <select id="option" ng-model="filter.option" class="form-control " ng-options="key for (key, value) in options" style="margin-right: 10px;"></select>
            <label for="value">Value</label>
            <input id="value" type="text" class="input-sm " style="height: 37px;" ng-model="filter.value">
            <button class="btn-danger" ng-click="deleteFilter($index)">Delete filter</button>
        </div>
    </div>
    <hr>
{% endblock %}