{% block pager_controll %}
    <ul ng-if="paginator.pages.length" class="pagination">
        <li ng-class="{disabled:paginator.currentPage === 1}">
            <a ng-click="getProductsFromPage(1)">First</a>
        </li>
        <li ng-class="{disabled:paginator.currentPage === 1}">
            <a ng-click="getProductsFromPage(paginator.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in paginator.pages" ng-class="{active:paginator.currentPage === page}">
            <a ng-click="getProductsFromPage(page)">[[page]]</a>
        </li>
        <li ng-class="{disabled:paginator.currentPage === paginator.totalPages}">
            <a ng-click="getProductsFromPage(paginator.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:paginator.currentPage === paginator.totalPages}">
            <a ng-click="getProductsFromPage(paginator.totalPages)">Last</a>
        </li>
    </ul>
{% endblock %}
