<div ng-init="init()">
    <div class="col-xs-10">
        {% use "AppBundle:api:filter_fields.html.twig" %}
        {{ block('filter_fields') }}
    </div>
    {#<div class="col-xs-1"><button class="btn btn-success" ui-sref="newProduct()">New</button></div>
    #}<div class="col-xs-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th ng-repeat="(key, value) in fieldNames" ng-click="doOrder(value)">
                    [[key]]
                    <i ng-if="order.field == value && order.direction == 'ASC'" class="fa fa-sort-amount-asc pull-right"></i>
                    <i ng-if="order.field == value && order.direction == 'DESC'" class="fa fa-sort-amount-desc pull-right" aria-hidden="true"></i>
                </th>
            </tr>
            </thead>
            <tr ng-repeat="product in products track by $index">
                <td>[[product.str_product_code]]</td>
                <td>[[product.str_product_name]]</td>
                <td>[[product.str_product_desc]]</td>
                <td>[[product.int_stock]]</td>
                <td>[[product.float_price]]</td>
                <td>[[product.dtm_discontinued | date : format : short]]</td>
                <td>
                    <a class="btn btn-primary" ui-sref="editProduct({id:product.id})">Edit</a>
                    <a class="btn btn-danger"  ng-click="deleteProduct($index)">Delete</a>
                </td>
            </tr>
        </table>
        <!-- pager -->
    </div>
    <div>
        {% use "AppBundle:api:pager_controll.html.twig" %}
        {{ block('pager_controll') }}
    </div>
</div>