{% block form %}
    <div class="form-group col-sm-10">
        <label for="str_product_name" class="control-label">Name</label>
        <div role="alert">
      <span class="alert-danger" ng-show="errors.fields.str_product_name">
       Error: [[errors.fields.str_product_name]]!</span>
        </div>
        <input id="str_product_name" type="text" ng-model="product.str_product_name" class="form-control"
               placeholder="Product name"/>
        <label for="str_product_desc" class="control-label">Description</label>
        <div role="alert">
      <span class="alert-danger" ng-show="errors.fields.str_product_desc">
       Error:" [[errors.fields.str_product_desc]]"!</span>
        </div>
        <input id="str_product_desc" type="text" ng-model="product.str_product_desc" class="form-control"
               placeholder="Product description"/>
        <label for="str_product_code" class="control-label">Code</label>
        <div role="alert">
      <span class="alert-danger" ng-show="errors.fields.str_product_code">
       Error:" [[errors.fields.str_product_code]]"!</span>
        </div>
        <input id="str_product_code" type="text" ng-model="product.str_product_code" class="form-control"
               placeholder="Product code"/>
        <label for="int_stock" class="control-label">Stock</label>
        <div role="alert">
      <span class="alert-danger" ng-show="errors.fields.int_stock">
       Error:" [[errors.fields.int_stock]]"!</span>
        </div>
        <input id="int_stock" type="number" ng-model="product.int_stock" class="form-control"/>
        <label for="float_price" class="control-label">Cost in GBP</label>
        <div role="alert">
      <span class="alert-danger" ng-show="errors.fields.float_price">
       Error:" [[errors.fields.float_price]]"!</span>
        </div>
        <input id="float_price" type="number" step="0.01" ng-model="product.float_price" class="form-control"/>
        <label for="dtm_discontinued" class="control-label">Discontinued</label>
        <div role="alert">
      <span class="alert-danger" ng-show="errors.fields.dtm_discontinued">
       Error:" [[errors.fields.dtm_discontinued]]"!</span>
        </div>
        <input date-input id="dtm_discontinued" type="datetime-local" ng-model="product.dtm_discontinued"
               class="form-control"/>
        <hr>
        <div role="alert" ng-show="errors.global">
            <span class="alert-danger" ng-repeat="error in errors.global"> Error: "[[error]]"!</span>
        </div>

        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
{% endblock %}