{% extends 'AppBundle::base.html.twig' %}

{% block body %}


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="movies">Products webUi</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="movies">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row top-buffer">
        <div class="col-xs-10 col-xs-offset-1">
            <div ui-view></div>
        </div>
    </div>
</div>

{% endblock %}